.App {
  display:flex;
  flex-direction:column;
  height:100%;
}

.therest {
  display:flex;
  flex:1;
}

.theleft {
  flex:1;
  padding:var(--padding2);
  border-right:1px solid #020202;
}

.theright {
  flex:4;
  padding: var(--padding2);
}

.hidden {
  opacity:0;
  pointer-events:none;
}

.font-36 
{ 
  font-size: 36px; 
}