.App {
  display:flex;
  flex-direction:column;
  height:100%;
}

.header {
  text-align:center;
  border-bottom:1px solid #020202;
}

.post-header {
  display:flex;
  flex:1;
}

.sidebar {
  flex:1;
  padding:var(--padding);
  border-right:1px solid #020202;
}

.page {
  flex:4;
  padding: var(--padding);
}

.hidden {
  opacity:0;
  pointer-events:none;
}