body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html, #root {
  height:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.caret {
  border-left: solid 20px transparent; 
  border-right: solid 20px transparent; 
  border-bottom: solid 20px #020202; 
  height: 0; 
  width: 0;
  cursor:pointer;
}

.caret.left {
  transform:rotateZ(-90deg);
}

.caret.right {
  transform:rotateZ(90deg);
}